In [1]:
import pandas as pd
df = pd.DataFrame()
data = pd.read_csv("product details.csv")
data

,ProductID,ProductName,ProductBrand
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx
...,...,...,...
12486,10262843,Pepe Jeans Men Black Hammock Slim Fit Low-Rise...,Pepe Jeans
12487,10261721,Mochi Women Gold-Toned Solid Heels,Mochi
12488,10261607,612 league Girls Navy Blue & White Printed Reg...,612 league
12489,10266621,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,Bvlgari
12490,10265199,Pepe Jeans Men Black & Grey Striped Polo Colla...,Pepe Jeans

In [2]:
data1 = pd.read_csv("products catalog.csv")
data1

,Gender,Price (INR),NumImages,ID,Description,PrimaryColor
0,Women,593,5,10182131,"Off-White printed woven A-line top, has a rou...",White
1,Men,6396,5,10052169,Display: AnalogueMovement: QuartzPower source:...,Black
2,Women,599,5,10168643,"Blue printed knitted regular top, has a high ...",Blue
3,Men,1034,5,10155427,"Grey and Purple checked smart casual shirt, ha...",Grey
4,Men,477,3,10191059,Beige and Brown striped beltReversible: NoStre...,Brown
...,...,...,...,...,...,...
12486,Women,6375,5,10211803,"A pair of black pointed toe heeled boots, has ...",Black
12487,Boys,559,7,10138361,"Blue faded casual shirt, has a hood, long slee...",Blue
12488,Men,1399,5,10201271,A pair of brown comfort sandalsLeather upper w...,Brown
12489,Women,976,5,10246229,"A pair of black solid peep toes, has regular s...",Black
12490,Women,1299,7,10270963,Navy Blue dark wash 5-pocket mid-rise cropped ...,Navy

In [3]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data.head()

   ProductID                                        ProductName ProductBrand
0   10017413  DKNY Unisex Black & Grey Printed Medium Trolle...         DKNY
1   10016283  EthnoVogue Women Beige & Grey Made to Measure ...   EthnoVogue
2   10009781  SPYKAR Women Pink Alexa Super Skinny Fit High-...       SPYKAR
3   10015921  Raymond Men Blue Self-Design Single-Breasted B...      Raymond
4   10017833  Parx Men Brown & Off-White Slim Fit Printed Ca...         Parx

In [5]:
data1.head()

,Gender,Price (INR),NumImages,ID,Description,PrimaryColor
0,Women,593,5,10182131,"Off-White printed woven A-line top, has a rou...",White
1,Men,6396,5,10052169,Display: AnalogueMovement: QuartzPower source:...,Black
2,Women,599,5,10168643,"Blue printed knitted regular top, has a high ...",Blue
3,Men,1034,5,10155427,"Grey and Purple checked smart casual shirt, ha...",Grey
4,Men,477,3,10191059,Beige and Brown striped beltReversible: NoStre...,Brown

In [6]:
data.describe(include = 'all')

,ProductID,ProductName,ProductBrand
count,1.249100e+04,12491,12491
unique,NaN,10761,677
top,NaN,Parx Men Blue Slim Fit Checked Casual Shirt,Indian Terrain
freq,NaN,16,971
mean,9.917160e+06,NaN,NaN
std,1.438006e+06,NaN,NaN
min,1.012060e+05,NaN,NaN
25%,1.006215e+07,NaN,NaN
50%,1.015463e+07,NaN,NaN
75%,1.021565e+07,NaN,NaN
max,1.027514e+07,NaN,NaN

In [7]:
data.isnull().sum()

ProductID       0
ProductName     0
ProductBrand    0
dtype: int64

In [8]:
data1.describe(include = 'all')

,Gender,Price (INR),NumImages,ID,Description,PrimaryColor
count,12491,12491.000000,12491.000000,1.249100e+04,12491,11597
unique,6,NaN,NaN,NaN,10435,27
top,Women,NaN,NaN,NaN,"Blue medium wash 5-pocket mid-rise jeans, clea...",Blue
freq,5126,NaN,NaN,NaN,54,3443
mean,NaN,1452.660956,4.913698,9.917160e+06,NaN,NaN
std,NaN,2118.503976,1.092333,1.438006e+06,NaN,NaN
min,NaN,90.000000,1.000000,1.012060e+05,NaN,NaN
25%,NaN,649.000000,5.000000,1.006215e+07,NaN,NaN
50%,NaN,920.000000,5.000000,1.015463e+07,NaN,NaN
75%,NaN,1499.000000,5.000000,1.021565e+07,NaN,NaN
max,NaN,63090.000000,10.000000,1.027514e+07,NaN,NaN

In [9]:
data1.isnull().sum()

Gender            0
Price (INR)       0
NumImages         0
ID                0
Description       0
PrimaryColor    894
dtype: int64

In [10]:
data1.Gender.value_counts()

Women          5126
Men            4591
Unisex         1188
Boys           1100
Girls           440
Unisex Kids      46
Name: Gender, dtype: int64

Variable Description
1. Product Brand - 
2. Product Colour -
3.

In [14]:
df = pd.merge(data,data1,left_on = "ProductID", right_on = 'ID', how = 'left')
df.shape

(12491, 9)

In [15]:
df.drop_duplicates(inplace = True)

In [16]:
df.shape

(12491, 9)

In [17]:
df.isnull().sum()

ProductID         0
ProductName       0
ProductBrand      0
Gender            0
Price (INR)       0
NumImages         0
ID                0
Description       0
PrimaryColor    894
dtype: int64

In [19]:
df.drop(columns = 'ID', inplace = True)

In [20]:
df.shape

(12491, 8)

In [21]:
df.head()

,ProductID,ProductName,ProductBrand,Gender,Price (INR),NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,5,Blue self-design bandhgala suitBlue self-desig...,Blue
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,5,"Brown and off-white printed casual shirt, has ...",White

In [22]:
df.loc[0,'PrimaryColor']

' Black'

In [24]:
x = df.PrimaryColor.str.strip()
df.drop(columns = 'PrimaryColor', inplace = True)
df['PrimaryColor'] = x

In [25]:
df.loc[0,'PrimaryColor']

'Black'

In [27]:
df.isnull().sum()

ProductID         0
ProductName       0
ProductBrand      0
Gender            0
Price (INR)       0
NumImages         0
Description       0
PrimaryColor    894
dtype: int64

In [28]:
df.PrimaryColor.fillna('Others', inplace = True)

In [29]:
df.isnull().sum()

ProductID       0
ProductName     0
ProductBrand    0
Gender          0
Price (INR)     0
NumImages       0
Description     0
PrimaryColor    0
dtype: int64

In [31]:
df.rename(columns = {'Price (INR)' : 'Price'}, inplace = True)

In [32]:
df.Gender.value_counts()

Women          5126
Men            4591
Unisex         1188
Boys           1100
Girls           440
Unisex Kids      46
Name: Gender, dtype: int64

new column
3 - Women (Women + Girls)
2 - Men (Men + Boys)
1 - Unisex (Unisex kids + Unisex)

col
1 - Adult (Women + Men + Unisex)
2 - Kids (Boys + Girls + Unisex Kids)

In [33]:
x = []

for i in df.Gender:
    if ((i == 'Women') | (i == 'Girls')):
        x.append('Women')
    elif ((i == 'Men') | (i == 'Boys')):
        x.append('Men')
    else:
        x.append('Unisex')
        
df['gender_comb'] = x

In [34]:
df.gender_comb.value_counts()

Men       5691
Women     5566
Unisex    1234
Name: gender_comb, dtype: int64

In [36]:
df.groupby('gender_comb')['Price'].mean()

gender_comb
Men       1434.021613
Unisex    2120.924635
Women     1323.562702
Name: Price, dtype: float64

In [37]:
y = []

for i in df.Gender:
    if ((i == 'Men') | (i == 'Women') | (i == 'Unisex')):
        y.append('Adult')
    else:
        y.append('Kids')
        
df['gender_comb2'] = y

In [38]:
df.gender_comb2.value_counts()

Adult    10905
Kids      1586
Name: gender_comb2, dtype: int64

In [39]:
df.groupby('gender_comb2')['Price'].mean()

gender_comb2
Adult    1535.649794
Kids      882.047289
Name: Price, dtype: float64

In [40]:
# Bivariate Analysis

1. Which is most used color for different gender?

In [45]:
x = pd.DataFrame(pd.crosstab(df.PrimaryColor,df.gender_comb))
x.reset_index(inplace = True)

In [46]:
x

gender_comb PrimaryColor   Men  Unisex  Women
0                  Beige    82      18    136
1                  Black   794     163    683
2                   Blue  2028     211   1204
3                 Bronze     1       0      2
4                  Brown   254      66    153
5               Burgundy    21       0     43
6               Charcoal     7       0      3
7                   Gold    20      18    198
8                  Green   382     120    406
9                   Grey   426      59    199
10                 Khaki    54       0      2
11              Lavender     8       3      8
12               Magenta     2       0     11
13                Maroon    77      13     97
14                 Matte     0       1     16
15               Mustard     4       1     10
16                  Navy    31       0     23
17                Orange    54      23     53
18                Others   316     132    446
19                 Peach     0       0      2
20                  Pink    61      32    298
21              Platinum     2       0      1
22                Purple    25      14     26
23                   Red   473     179    891
24                  Rose     0       1      7
25                Silver    22       4     85
26                 White   391     150    339
27                Yellow   156      26    224

In [48]:
x.Men.max()

2028

In [50]:
x[x.Men == x.Men.max()]

gender_comb PrimaryColor   Men  Unisex  Women
2                   Blue  2028     211   1204

In [51]:
x[x.Men == x.Men.max()].loc[:,'PrimaryColor']

2    Blue
Name: PrimaryColor, dtype: object

In [52]:
x[x.Women == x.Women.max()].loc[:,'PrimaryColor']

2    Blue
Name: PrimaryColor, dtype: object

In [53]:
x[x.Unisex == x.Unisex.max()].loc[:,'PrimaryColor']

2    Blue
Name: PrimaryColor, dtype: object

In [54]:
df.groupby('gender_comb')['NumImages'].mean()

gender_comb
Men       4.981198
Unisex    4.431118
Women     4.951671
Name: NumImages, dtype: float64

In [55]:
df.groupby('gender_comb')['Price'].mean()

gender_comb
Men       1434.021613
Unisex    2120.924635
Women     1323.562702
Name: Price, dtype: float64